
body{
    margin: 0;
    padding: 0;
    min-height: 200vh;
}

#bg1{
    background-image: url(mortimati2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 800px;
    height: 500px;
    left: 30%;
}

#header1{
    width: 100%;
    height: 80px;
    background-color: white;
    position: relative;
}

#a1{
    position: absolute;
    top: 55%;
    font-weight:bolder;
    font-size: 60px;
    width: 905px;
    text-align: center;
    left: 25%;
    padding: 15px;
    text-shadow: 5px 5px 30px black, -5px -5px 30px black;
    animation: opac1;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-delay: 0;
    animation-iteration-count: 1;
}

@keyframes opac1{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.link{
    position: relative;
    font-size: 50px;
    border: 2px solid gray;
    color: gray;
    opacity: 1;
    border-bottom: none;
    border-top: none;
    border-right: none;
    left: 28%;
    text-decoration: none;
    padding: 15px;
}

#link1{
    border-left: none;
}

#contact1{
    position: absolute;
    color: gray;
    font-size: 20px;
    top: 50%;
    left: 89%;
    text-decoration: underline;
}

#logo1{
    position: absolute;
    width: 150px;
    height: 80px;
    z-index: 10;
}

#main1{
    position: relative;
    top: 37.5vh;
    background-color: gray;
    width: 100%;
    height: 150px;
}

#a3{
    font-size: 40px;
    color: black;
    text-shadow: 5px 5px 30px black, -5px -5px 30px black;
    font-weight: bolder;
    position: absolute;
    left: 22%;
    top: -20px;
}

.li1{
    color: black;
    list-style: none;
    text-align: center;
    position: relative;
    text-shadow: 5px 5px 30px black, -5px -5px 30px black;
    top: 70px;
    font-size: 20px;
    left: -50px;
}

.review1{
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 10px;
}

#rev1{
    left: 15%;
    top: 30vmax;
    transition: scale 0.2s linear;
}

#rev2{
    left: 40%;
    top: 13vmax;
    transition: scale 0.2s linear;
}

#rev3{
    left: 65%;
    top: -3.5vmax;
    transition: scale 0.2s linear;
}

.name1{
    font-size: 25px;
    position: relative;
    top: -10px;
}

.star1{
    font-size: 15px;
    position: absolute;
    left: 65%;
    top: 10px;
}

#reviews{
    position: relative;
    left: 44%;
    font-size: 25px;
    color: gray
}

#reviews:active{
    color: black;
}

/* #others1{
    position: absolute;
    top: 60vmax;
    left: 42%;
} */

#rev1:hover{
    scale: 1.2;
}

#rev2:hover{
    scale: 1.2;
}

#rev3:hover{
    scale: 1.2;
}



