
<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta name = "author" content = "itfeelsnice">
            <meta charset="UTF-8">
            <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
            <link rel = "stylesheet" href = "../static/css1.css">
            <title>CarMax</title>
        </head>
        <html>
        <header>
            <div id = "header1">
                <img id = "logo1" src = "../static/logofutut.jpg">
                <a class = "link" id = "link1" href = "a">DETAILS</a>
                <a class = "link" id = "link2" href = "a">LOCATIONS</a>
                <a class = "link" id = "link3" href = "a">ABOUT US</a>
                <h1 id = "contact1">CONTACT:0712743672</h1>
            </div>
            <hr>
            <div id = "bg1"></div>
            <h1 id = "a1">WE CAN REPAIR EVERYTHING EVEN TANKS</h1>
        </header>
        <main>
            <div id = "main1">
                <h1 id = "a3">We have build this service with the best mechanics in the world</h1>
                <ul id = "list1">
                    <li class = "li1">Miguel with a criminal record</li>
                    <li class = "li1">Vladiskov that once stole a cumstomer car</li>
                    <li class = "li1">And many more</li>
                </ul>
            </div>
            <!-- <h1 id = "others1">what others said:</h1> -->
            <div class = "review1" id = "rev1">
                <h1 class = "name1">name:Obama15</h1>
                <h1 class = "star1">⭐⭐⭐⭐⭐</h1>
                <h1>I had a problem turning left.They fixed the problem but
                    they made the car 2 times smaller. Recomanded
                </h1>
            </div>
            <div class = "review1" id = "rev2">
                <h1 class = "name1">name:bigfish1</h1>
                <h1 class = "star1">⭐⭐⭐⭐⭐</h1>
                <h1>The engine fall out, they put a new one and the car weights 400kg less. Great job</h1>
            </div>
            <div class = "review1" id = "rev3">
                <h1 class = "name1">name:alfredogino</h1>
                <h1 class = "star1">⭐⭐⭐⭐⭐</h1>
                <h1>I came to paint my car gray, they painted it and took my turbin saying its useless for my type of car.
                    5 starts
                </h1>
            </div>
            <a href = "https://github.com/itfeelsnice" id = "reviews" target = "_blank">over 1.5k reviews:</a>
        </main>
        <footer>
            <div id = "apoint1">
                <h1 id = "appointment1">CREATE AN APPOINTMENT</h1>
            </div>
            <h1 id = "tell1">COMPLEAT THE FORUM. AFTER YOU CLICK CREAT YOUR INFORMATIONS WILL BE SEND TO ONE OF OUR WORKERS</h1>
            <div id = "create1">
                <form method = "post">
                    <label id = "lab1" for = "inp1">Name:</label>
                    <input name = "input1" id = "inp1" placeholder = "Vasile Baciu"> 
                    <label id = "lab2" for = "inp2">Email:</label>
                    <input name = "input2" id = "inp2" placeholder = "repair123@gmail.com"> 
                    <label id = "lab3" for = "opt1">Select you service location:</label>
                    <select id = "opt1">
                        <option>San Diego</option>
                        <option>Boston</option>
                        <option>Florida</option>
                    </select>        
                    <textarea id = "make1" placeholder = "write your problem here"></textarea>         
                    <button id = "btn1">create</button>
                </form>
            </div>
            <div id = "credentials">
                <h1>qualification</h1>
                <ul>
                    <li>Certificate in engines</li>
                    <li>Best services 2002</li>
                    <li>We repaired Omabas car</li>
                </ul>
                <h1 id = "contact2">CONTACT:0712743672</h1>
                <a href = "https://github.com/itfeelsnice" target = "_blank" id = "link4">CarMaxService@gmail.com</a>

                <a id = "links1" href = "https://github.com/itfeelsnice" target = "_blank">
                    <i class="fa-brands fa-square-instagram" style="color: rgb(255, 59, 79);"></i>
                    <i class="fa-brands fa-tiktok" id = "links2" style="color: rgb(23, 12, 56);"></i>
                    <i class="fa-brands fa-facebook" id = "links3" style="color: rgb(116, 192, 252);"></i>
                </a>
            </div>
        </footer>
        <script src="https://kit.fontawesome.com/751708a8da.js" crossorigin="anonymous"></script>
        <script src = "../static/js1.js"></script>
        </html>
    </html>
